body {
  background-image: url("https://i.pinimg.com/originals/e4/82/92/e4829207080413e8bbb472a51e2024df.jpg");
	backgroung-size: cover;
	text-align:center;
	font-weight:bold;
}

button {
  border:none;
	padding-top: 10px;
	paddding-bottom: 10px;
	color: white;
	font-weight:bold;
	width: 200px;
	margin-bottom: 5px;
	border-radius: 5px;
}
 
#increment-btn {
  background: darkblue;
	
}

#save-btn {
	background:  darkgreen;
}

#con {
 background: white;
	 max-width: 80%;
}	

	
	